/* app css stylesheet */

.container {
    padding: 1em;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

div#tube {
    height: 400px;
    width: 400px;
    background-image: url("tube.png");
    background-repeat: none;
    background-size: 400px;
    padding: 1em;
    margin-bottom: -3em;
}

div#tubeBuffer {
    height: 250px;
    width:400px;
}

div#gameText {
    height: 2em;
    width: 30em;
}

div#correctWord {
    width: 400px;
    height: 150px;
    text-align: center;
    margin-bottom: -3em;
    margin-top: -1em;
    background-image: url("cloud.png");
    background-repeat: no-repeat;
    background-position: center;
    text-orientation: center;
}

div#correctSpacer {
    height: 45px;
    width: 400px;
}

div#tubeWords {
    /*margin-left:20%;*/
}

button.subword {
    font-weight: bold;
}

button.selected {
    background-color: lightgrey !important;
    cursor: not-allowed;
}

div#subwordBlock {
    width: 400px;
}

button#mixBtn, button#nextBtn {
    font-size: 2em;
    background-color: #1693A5;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-position: 0;
}

button#mixBtn:hover, button#nextBtn:hover {
    background-color: #00CDAC;
    background-image: none;
}

button#mixBtn:disabled {
    background-color: lightgrey;
}

button.subword {
    margin: .5em;
    background-color: #2DDBED;
    border: none;
    border-radius: 10px;
    padding: .5em;
}

div#tube button {
    margin: 1em;
    background-color: #2DDBED;
    border: none;
    border-radius: 10px;
}

h3#equation {
    color: #00CDAC;
}
