<div class="container">
<div class="row">
	<div class="col-md-5 col-md-offset-1">
		
		<div id="correctWord">
			<div id="correctSpacer"></div>
			<h2>{{ resultWord }}</h2>
		</div>
		<div id="tube" class="text-center">
			<div id="tubeBuffer"></div>
			<div id="tubeWords">
				<button ng-repeat="chosenBlank in chosenBlanks track by $index"
				class="subword">{{ chosenBlank }}</button> 

				<button ng-repeat="chosenWord in chosenWords track by $index"
				class="subword">{{ chosenWord }}</button> 
			</div>
		</div>
		<div id="subwordBlock" class="text-center">
			<button ng-repeat="subword in subwords"
				ng-click="clickSub(subword)" 
				class="subword"
				ng-class="{selected: chosenWords.indexOf(subword) > -1}">{{ subword }}</button> 
			
			<p><button id="mixBtn" 
			ng-disabled="chosenBlanks.length > 0 || showNext || showDone"
			class="btn btn-primary"
			ng-click="clickMix()">Mix!</button></p>
		</div>
		<br>
		
	</div>
	<div class="col-md-5">
		<h1>Mix the ingredients up to see if you can create a new word!</h1>
		<h3 id="gameText">{{ gameBoxText }}</h3>
		<h3
			id = "equation" 
			ng-show="showNext || showDone">
			{{ chosenWords[0] }} + {{ chosenWords[1] }} = {{ resultWord }}
		</h3>
		<p><button ng-show="showNext" ng-click="next()" id="nextBtn">Next</button></p>
		<h3 ng-show="showDone">That's all the mixtures I have for today!</h3>
	</div>
		
</div>
</div>